<!-- Start page header -->             
<section class="section-page-header">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h4>— ABOUT US —</h4>
      </div>
    </div>
  </div>
  <img src="images/divider_shadow.png" title="" alt="">
</div>
</section> 
<!-- End page header -->   
<!-- Start about us -->           
<section class="about-us">
<div class="container">
  <div class="span12">
    <div class="row">
      <div class="span8">
        <h4>Our Mission</h4>
        <p>
        NextGen Partners' mission is to facilitate professional development, knowledge sharing and network strengthening of emerging Venture Capital investors as they build their careers. Founded in 2001, NextGen Partners has a membership base of over 500 pre-partner professionals representing over 200 firms in California.
        </p>

        <hr>
        <h4>Co-Chairs</h4>

        <div class="row member-container portfolio">


          <% @team_chairs.each do |member| %>
            <div class="span3 team-member">
              <div class="thumbnail">
                <div class="portfolio-item">
                  <img src="<%= member.image_url %>">
                  <div class="folio-body">
                    <div class="folio-info">
                      <h5><%= member.name %></h5>
                      <p>
                      <%= member.bio.gsub(/\n/, '<br/>').html_safe %>
                      </p>
                    </div>
                  </div>
                </div> <!-- end portfolio-item -->
              </div> <!-- end thumbnail -->


              <h5><%= member.name %>

                <span class="block_general_social_1">
                  <ul class="pull-right">
                    <li>
                    <a target="_blank" href="<%= member.linkedin_url %>" class="social_11">Social Service 6</a>
                    </li>
                  </ul>
                </span>

                <small><%= member.firm %></small>
              </h5> 
            </div>
          <% end %>

        </div>
      </div>
      <div class="span4">
        <div class="well info-box">
          <h4>Sign up to become a member</h4>
          <p><a class="btn btn-success" href="contact.html"><i class="icon-hand-right icon-white"></i>Join</a></p>
        </div>

        <div class="well info-box">
          <h4>Request to be a sponsor or partner</h4>
          <p><a class="btn btn-success" href="mailto:sunil@bvp.com"><i class="icon-hand-right icon-white"></i>Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="span12">
    <hr>
    <h4>Executive Team</h4>
    <div class="row member-container portfolio">

      <% @team_members.each do |member| %>
        <div class="span3 team-member">
          <div class="thumbnail">
            <div class="portfolio-item">
              <img src="<%= member.image_url %>">
              <div class="folio-body">
                <div class="folio-info">
                  <h5><%= member.name %></h5>
                  <p>
                  <%= member.bio.gsub(/\n/, '<br/>').html_safe %>
                  </p>
                </div>
              </div>
            </div> <!-- end portfolio-item -->
          </div> <!-- end thumbnail -->


          <h5><%= member.name %>

            <span class="block_general_social_1">
              <ul class="pull-right">
                <li>
                <a target="_blank" href="<%= member.linkedin_url %>" class="social_11">Social Service 6</a>
                </li>
              </ul>
            </span>

            <small><%= member.firm %></small>
          </h5> 
        </div>
      <% end %>
      
    </div>
  </div>
  </section> 
  <!-- End about us -->   

