<!-- Start page header -->             
<section class="section-page-header">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h4>— Frequently Asked Questions —</h4>
      </div>
    </div>
  </div>
  <img src="images/divider_shadow.png" title="" alt="">
</div>
</section> 
<!-- End page header -->   
<!-- Start faqs -->                                          
<section class="faqs">
<div class="container">
  <div class="row">
    <div class="span4">
      <h4>How to Get Into Venture Capital</h4>
      <hr>
      <p>
NextGen Partners' mission is to facilitate professional development, knowledge sharing and network strengthening of emerging Venture Capital investors as they build their careers.  NextGen Partners has a membership base of over 500 pre-partner professionals representing over 200 firms in California.  We surveyed our membership for their best tips on getting into venture capital in order to compile this FAQ.
      </p>
    </div>  
    <div class="span8">
      <div class="accordion" id="accordion1">


        <% @faqs.each_with_index do |faq, index| %>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_<%= index %>">
                <%= faq.question %>
              </a>
            </div>
            <div id="collapse_<%= index %>" class="accordion-body collapse <%= index == 0 ? "in" : "" %>">
              <div class="accordion-inner">
                <p>
                <%= markdown.render(faq.answer).html_safe %>
                </p>
              </div>
            </div>


          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
</section>     
<!-- End faqs -->   

